<footer id="footer">
    <i class="social_media_icons fab fa-twitter fa-2x"></i>
    <i class="social_media_icons fab fa-facebook fa-2x"></i>
    <i class="social_media_icons fab fa-instagram fa-2x"></i>
    <p class = "copyright">© 2022 Lucknow, Uttar Pradesh, Inc. All Rights Reserved</p>

  </footer>