<link rel="stylesheet" href="css/navbar.css">
</head>


<body>
  <nav class="navbar navbar-light" id="navbar1">
    <a class="navbar-brand" href="#">
      <img src="/img/TBT.png" width="250" height="110" alt="" class="tbtlogo">
    </a>
    <% if(!user) { %>
      <div class="login_signup">
        <a href="/login" class="login">Login</a><a>|</a><a href="/signup" class="login">Sign Up</a>
      </div>
      <% } else { %>
        <div class="login_signup">
          <a href="/logout" class="login">Logout</a><a>|</a><a href="/myprofile/<%= user.Username %>" class="login">Dashboard</a>
        </div>
        <% } %>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light" id="navbar2">
    <div class="collapse navbar-collapse navbar2_div" id="navbarNavDropdown">
      <ul class="navbar-nav nav_list">
        <li class="nav-item nav_item">
          <a class="nav-link nav_link" href="/">EXPLORE</a>
        </li>
        <li class="nav-item nav_item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            EXPLORE BY CATEGORY
          </a>
          <div class="dropdown-menu" style="background-color: #ffff;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/explore_by_category/Paintings">PAINTINGS</a>
            <a class="dropdown-item" href="/explore_by_category/Handicraft">HANDICRAFTS</a>
            <a class="dropdown-item" href="/explore_by_category/Jewellery">JEWELLERY</a>
            <a class="dropdown-item" href="/explore_by_category/Fashion">FASHION</a>
            <a class="dropdown-item" href="/explore_by_category/Photography">PHOTOGRAPHY</a>
          </div>
        </li>
        <li class="nav-item nav_item">
          <a class="nav-link nav_link" href="/events">EVENTS</a>
        </li>
        <li class="nav-item nav_item">
          <a class="nav-link nav_link" href="/ideas">IDEAS</a>
        </li>
        <li class="nav-item nav_item">
          <a class="nav-link nav_link" href="/contactUs">CONTACT US</a>
        </li>
        <li class="nav-item nav_item">
          <a class="nav-link nav_link" href="/#About_us">ABOUT US</a>
        </li>
      </ul>
    </div>
  </nav>
  <script src="\script\header_script.js"></script>