<link rel="stylesheet" href="/css/navbar.css">
<script type="text/javascript" src="/script/menu.js"></script>
</head>


<body>
  <nav class="navbar navbar-light" id="navbar1">
    <a class="navbar-brand" href="/">
      <img src="/img/TBT.png" width="250" height="110" alt="" class="tbtlogo">
    </a>

    <% if(!user) { %>
      <div class="login_signup">
        <a href="/login" class="login">LOGIN</a><a>|</a><a href="/signup" class="login">SIGN UP</a>
      </div>
      <% } else { %>
        <div class = "dashboard_logout">
        <a class="glow-on-hover" href = "/myprofile/<%= user.Username %>">DASHBOARD</a>
        <a class = "logout">|</a>
        <a class = "login logout" href = "/logout">LOG OUT</a>
        </div>

        <!-- <div class="login_signup">
          <a href="/logout" class="login">Logout</a><a>|</a><a href="/myprofile/<%= user.Username %>" class="login">Dashboard</a>
        </div> -->
        <% } %>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light" id="navbar2">
    <div class="collapse navbar-collapse navbar2_div" id="navbarNavDropdown">
      <ul class="navbar-nav nav_list">
        <li class="nav-item nav_item">
          <a class="nav-link nav_link" href="/">EXPLORE</a>
        </li>
        <li class="nav-item nav_item">
          <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            EXPLORE BY CATEGORY
          </a>
          <div class="dropdown-menu" style="background-color: #ffff;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/explore_by_category/Paintings">PAINTINGS</a>
            <a class="dropdown-item" href="/explore_by_category/Handicraft">HANDICRAFTS</a>
            <a class="dropdown-item" href="/explore_by_category/Jewellery">JEWELLERY</a>
            <a class="dropdown-item" href="/explore_by_category/Fashion">FASHION</a>
            <a class="dropdown-item" href="/explore_by_category/Photography">PHOTOGRAPHY</a>
          </div> -->
          <div class="bydropdown">EXPLORE BY CATEGORY
            <ul class="bydropdown-menu">
              <li><a href="/explore_by_category/Paintings">PAINTINGS</a></li>
              <li><a href="/explore_by_category/Handicraft">HANDICRAFTS</a></li>
              <li><a href="/explore_by_category/Jewellery">JEWELLERY</a></li>
              <li><a href="/explore_by_category/Fashion">FASHION</a></li>
              <li><a href="/explore_by_category/Photography">PHOTOGRAPHY</a></li>

            </ul>
          </div>
        </li>
        <li class="nav-item nav_item">
          <a class="nav-link nav_link" href="/events">EVENTS</a>
        </li>
        <li class="nav-item nav_item">
          <a class="nav-link nav_link" href="/ideas">IDEAS</a>
        </li>
        <li class="nav-item nav_item">
          <a class="nav-link nav_link" href="/contactUs">CONTACT US</a>
        </li>
        <li class="nav-item nav_item">
          <a class="nav-link nav_link" href="/#About_us">ABOUT US</a>
        </li>
      </ul>
    </div>
  </nav>
  <script src="\script\header_script.js"></script>