    <% if(!otheruser) { %>
    <h2>HI <%= user.Name %></h2>
    <% } else { %>
      <h2>Say hi to <%= otheruser.Name %></h2>
      <% } %>


    <div class="dash">
      <nav class="navbar sidenavbar">

        <!-- Links -->
        <ul class="navbar-nav links">
          <li class="nav-item">
            <a class="nav-link nav1" href="/myprofile">MY PROFILE</a>
            <hr class="line">
          </li>
          <li class="nav-item">
            <a class="nav-link nav1" href="/mypost">MY POSTS</a>
            <hr class="line">
          </li>
          <li class="nav-item">
            <a class="nav-link nav1" href="#">MY IDEAS</a>
            <hr class="line">
          </li>
          <% if(!otheruser) { %>
          <li class="nav-item">
            <a class="nav-link nav1" href="/add_post">ADD POST</a>
            <hr class="line">
          </li>
          <% } else { %>
            <li class="nav-item">
              <!-- <a class="nav-link nav1" style="visibility:hidden"  href="/add_post">ADD POST</a>
              <hr class="line"> -->
            </li>
            <% } %>
          <li class="nav-item">
            <a class="nav-link nav1" href="#">VIEW QR</a>
            <hr class="line">
          </li>
          <li class="nav-item">
            <a class="nav-link nav1" href="#">CONTACT INFO</a>
          </li>
        </ul>

      </nav>


      <div class="vertical_line">
        </div>