
    <h2>HI SANIYA!</h2>


    <div class="dash">
      <nav class="navbar sidenavbar">

        <!-- Links -->
        <ul class="navbar-nav links">
          <li class="nav-item">
            <a class="nav-link nav1" href="#">MY PROFILE</a>
            <hr class="line">
          </li>
          <li class="nav-item">
            <a class="nav-link nav1" href=".\mypost.ejs">MY POSTS</a>
            <hr class="line">
          </li>
          <li class="nav-item">
            <a class="nav-link nav1" href="#">MY IDEAS</a>
            <hr class="line">
          </li>
          <li class="nav-item">
            <a class="nav-link nav1" href="#">ADD POST</a>
            <hr class="line">
          </li>
          <li class="nav-item">
            <a class="nav-link nav1" href="#">VIEW QR</a>
            <hr class="line">
          </li>
          <li class="nav-item">
            <a class="nav-link nav1" href="#">CONTACT INFO</a>
          </li>
        </ul>

      </nav>


      <div class="vertical_line">
        </div>