<%- include("partials/boiler") -%>
  <link rel="stylesheet" href="/css/add_post.css">
  <link rel="stylesheet" href="/css/sidebarstyles.css">
  <%- include("partials/header") -%>
    <%- include("partials/sidebar") -%>



      <form class="data" action = "/add_post/<%= user.Username %>" enctype="multipart/form-data" method = "POST">
    <div class="form-group postfield">
      <label for="exampleFormControlInput1" class="postdata">Post Title</label>
      <input type="text" class="form-control dataplace" id="exampleFormControlInput1" name = "title">
    </div>


    <label for="formFileLg" class="form-label postdata">Choose image</label>
<input class="form-control form-control-lg upfile" id="formFileLg" type="file" name = "uploadFile"/>
 
 
    <div class="form-group postfield">
      <label for="exampleFormControlTextarea1"class="postdata" >Description</label>
      <textarea class="form-control desc dataplace" id="exampleFormControlTextarea1" minlength = "100" rows="5" name = "description"></textarea>
    </div>

    <button class="addme" type = 'submit'>Add Post</button>
  </form>

      </body>