<%- include("partials/boiler") -%>
  <link rel="stylesheet" href="css/dashboardstyles.css">
  <link rel="stylesheet" href="css/sidebarstyles.css">
  <%- include("partials/header") -%>
<%- include("partials/sidebar") -%>
      <div class="myprofile">
        <div class="userdata">
          <p class="data field">Name</p>
          <p class="data">:</p>
          <p class="data">Saniya Maheshwari</p>
        </div>
        <div class="userdata">
          <p class="data field">Username</p>
          <p class="data">:</p>
          <p class="data">maheshwari_51</p>
        </div>
        <div class="userdata">
          <p class="data field">Email</p>
          <p class="data">:</p>
          <p class="data">saniyamaheshwari536@gmail.com</p>
        </div>
        <div class="userdata">
          <p class="data field bio">Bio</p>
          <p class="data">:</p>
          <p class="data">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
            quis dui lobortis, mattis massa pellentesque, tristique nunc. Fusce
            facilisis iaculis tincidunt. Nullam placerat quam consectetur, ornare
            eros eleifend, accumsan augue.</p>
        </div>
        <div class="userdata">
          <p class="data field">Country Region</p>
          <p class="data">:</p>
          <p class="data">India</p>
        </div>
        <div class="userdata">
          <p class="data field">Field of Interest</p>
          <p class="data">:</p>
          <p class="data">Paintings</p>
        </div>
      </div>

    </div>

    <%- include("partials/footer") -%>
      </body>