<%- include("partials/boiler") -%>
  <link rel="stylesheet" href="css/eventstyles.css">
  <%- include("partials/header") -%>

  <div class="event">
    <p class="eventtype"><u>LIVE EVENTS</u></p>
    <div style="overflow-y: scroll;" class="eventcards">
    <div class="events">
      <div class="card">
        <img class="card-img-top" src="img/Artcalender.png" alt="Card image cap">
        <div class="card-body mb-4">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.<br><a href="#">Read more</a></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="img/Artcalender.png" alt="Card image cap">
        <div class="card-body mb-4">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.<br><a href="#">Read more</a></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="img/Artcalender.png" alt="Card image cap">
        <div class="card-body mb-4">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.<br><a href="#">Read more</a></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="img/Artcalender.png" alt="Card image cap">
        <div class="card-body mb-4">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.<br><a href="#">Read more</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="event">
      <p class="eventtype"><u>UPCOMING EVENTS</u></p>
      <div style="overflow-y: scroll;" class="eventcards">
      <div class="events">
        <div class="card">
          <img class="card-img-top" src="img/Artcalender.png" alt="Card image cap">
          <div class="card-body mb-4">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.<br><a href="#">Read more</a></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="img/Artcalender.png" alt="Card image cap">
          <div class="card-body mb-4">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.<br><a href="#">Read more</a></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="img/Artcalender.png" alt="Card image cap">
          <div class="card-body mb-4">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.<br><a href="#">Read more</a></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="img/Artcalender.png" alt="Card image cap">
          <div class="card-body mb-4">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.<br><a href="#">Read more</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="event">
    <p class="eventtype"><u>PAST EVENTS</u></p>
    <div style="overflow-y: scroll;" class="eventcards">
    <div class="events">
      <div class="card">
        <img class="card-img-top" src="img/Artcalender.png" alt="Card image cap">
        <div class="card-body mb-4">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.<br><a href="#">Read more</a></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="img/Artcalender.png" alt="Card image cap">
        <div class="card-body mb-4">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.<br><a href="#">Read more</a></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="img/Artcalender.png" alt="Card image cap">
        <div class="card-body mb-4">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.<br><a href="#">Read more</a></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="img/Artcalender.png" alt="Card image cap">
        <div class="card-body mb-4">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.<br><a href="#">Read more</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
    <%- include("partials/footer") -%>
      </body>