<%- include("partials/boiler") -%>
  <link rel="stylesheet" href="css/ideas.css">
  <%- include("partials/header") -%>
    <div class = "ideas-container">
        <span class = "container-heading">IDEAS</span>
        <div class = "main-container">
            <div class = "left-container">
                <div class = "containers">
                    <div class = "text-content">
                        <h5>Title</h5>
                        <p>Description</p>
                    </div>
                    <h6>Created by someone</h6>
                </div>
            </div>
            <div class = "brdr-container"></div>
            <div class = "fltr-container">
                <ul type = "none" class = "filter-list">
                    <li class = "filter-list-items">
                        <span class ="filter-heading">FILTERS</span>
                    </li>
                    <li class = "filter-list-items">
                        <input type = "checkbox">
                        <span>PAINTINGS</span>
                    </li>
                    <li class = "filter-list-items">
                        <input type = "checkbox">
                        <span>PHOTOGRAPHY</span>
                    </li>
                    <li class = "filter-list-items">
                        <input type = "checkbox">
                        <span>JEWELLERY</span>
                    </li>
                    <li class = "filter-list-items">
                        <input type = "checkbox">
                        <span>HANDICRAFT</span>
                    </li>
                    <li class = "filter-list-items">
                        <input type = "checkbox">
                        <span>FASHION DESIGNING</span>
                    </li>
                    <li class = "filter-list-items">
                        <input type = "checkbox">
                        <span>OTHERS</span>
                    </li>
                </ul>
                <button class = "add-post">ADD IDEA</button>
            </div>
        </div>
    </div>
    <%- include("partials/footer") -%>
</body>