<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>The Begetter Town</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
  </script>
  <script src="https://kit.fontawesome.com/d7a314294d.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
    <nav class="navbar navbar-light" id = "navbar1">
        <a class="navbar-brand" href="#">
          <img src="img/TBT.png" width="250" height="110" alt="" class = "tbtlogo">
        </a>
        <div class = "login_signup">
            <a href = "#" class = "login">Login</a><a>|</a><a href = "/signup" class = "login">Sign Up</a>
        </div>
      </nav>

      <nav class="navbar navbar-expand-lg navbar-light" id = "navbar2">
        <div class="collapse navbar-collapse navbar2_div" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">EXPLORE</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  EXPLORE BY CATEGORY
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">PAINTINGS</a>
                  <a class="dropdown-item" href="#">HANDICRAFTS</a>
                  <a class="dropdown-item" href="#">JWELLERY</a>
                  <a class="dropdown-item" href="#">FASHION</a>
                  <a class="dropdown-item" href="#">PHOTOGRAPHY</a>
                </div>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">EVENTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">IDEAS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">CONTACT US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">ABOUT US</a>
              </li>
          </ul>
        </div>
      </nav>

    <div class="cara">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="img\Hey! (1).png" alt="First slide" height = "300" width = "70">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="img\Hey! (4).png" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="img\WhatsApp Image 2021-09-07 at 12.59.09 PM.jpeg" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      </div>

      <p class = "explore"><u>SOME FRESH CREATIONS FOR YOU</u></p>
      <div class = "cards">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="img/Artcalender.png" alt="Card image cap">
            <div class="card-body mb-4">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<br><a href="#">Read more</a></p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="img/Artcalender.png" alt="Card image cap">
            <div class="card-body mb-4">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<br><a href="#">Read more</a></p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="img/Artcalender.png" alt="Card image cap">
            <div class="card-body mb-4">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<br><a href="#">Read more</a></p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="img/Artcalender.png" alt="Card image cap">
            <div class="card-body mb-4">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<br><a href="#">Read more</a></p>
            </div>
          </div>
      </div>
      <div class="aboutUs">
<h2>ABOUT US</h2>
<p class = "aboutustext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis dui lobortis, mattis massa pellentesque, tristique
    nunc. Fusce facilisis iaculis tincidunt. Nullam placerat quam consectetur, ornare eros eleifend, accumsan augue. In
    consequat molestie ligula eget aliquam. In eget nisl sed urna pharetra porta. Orci varius natoque penatibus et magnis
    dis parturient montes, nascetur ridiculus mus. Nullam convallis feugiat massa, nec ornare felis bibendum eu. Fusce in
    urna vel augue condimentum ornare. Fusce eu facilisis dolor. Maecenas a suscipit velit, quis volutpat magna. In quis
    nisl nibh.
    In gravida auctor tempor. Maecenas nisi mauris, faucibus fermentum porta ac, finibus sed nisi. Mauris fermentum
    pretium diam eget mollis. Pellentesque ultrices lacus nec lorem convallis facilisis. Integer justo augue, cursus et
    massa sed, interdum mattis purus. Curabitur imperdiet tortor ac lorem egestas placerat. Nulla quis ex quis quam
    egestas scelerisque. Vestibulum fringilla volutpat elit, eget condimentum dui tincidunt</p>
      </div>

      <footer id="footer">
        <i class="social_media_icons fab fa-twitter fa-2x"></i>
        <i class="social_media_icons fab fa-facebook fa-2x"></i>
        <i class="social_media_icons fab fa-instagram fa-2x"></i>
        <p class = "copyright">© 2022 Lucknow, Uttar Pradesh, Inc. All Rights Reserved</p>
    
      </footer>
</body>