.form{
    margin: 4rem;
}
#signupSubmit{
    display:flex;
    justify-content:center;
    padding-bottom: 5rem;
}
.btn{
    background-color: #81c1c4;
    font-size: large;
    color: white
}

/* .input-group{
    position: relative;
}

.input{
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: #000;
    background-color: transparent;
    outline: 2px solid #81c1c4;
}


.input-label{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px,10px);
    transition: transform .25s;
}

.input:focus+.input-label,.input:valid+.input-label {
    transform: translate(10px,-14px) scale(.8) !important ;
    color: #81c1c4 !important;
    padding-inline: 5px !important;
    background-color: #000 !important;
}

.input:is(:focus,:valid){
    outline-color: #81c1c4;
} */