.userdata{
    display: flex;
    flex-direction: row;
}

.myprofile{
    margin-left: 5rem;
}

.data{
    margin-left: 0.7rem;
    margin-right: 7rem;
}

.field{
    background-color: #81c1c4;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
    border-radius: 0.2rem;
}

.bio{
    height: 1.8rem;
}
