body{
    margin : 0px;
    padding : 0px;
    background-color: #fefbf3;
    color : black;
    font-family: 'Sono', sans-serif;
}

.ideas-container{
    margin : 5vh 5vw;
    width : 90vw;
    height : auto;
    /* border : 1px solid ; */
}
.container-heading{
    border-bottom: 1px solid black;
    margin : 10px 0px;
    margin-left : 2.2rem;
    display : inline-block;
    width : auto;
    height : auto;
    margin-left: 0.1rem;
    font-size : 1.8rem;
    /* color : white; */
}
.main-container{
    margin-top: 10vh;
    display : flex;
    flex-direction: row;
    flex-wrap : nowrap;
    justify-content : space-evenly;
    align-items : center;
    width : inherit;
    height : auto;
}
.left-container{
    display : flex;
    flex-direction : column;
    /* flex-wrap : nowrap; */
    /* justify-content: space-between;
    align-items : flex-start; */
    width : 60vw;
    height : 39rem;
    background-color : #cccbc9;
    margin-bottom: 30px;
   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(179, 176, 176, 0.19);
  
}
.fltr-container{
    width : 20vw;
    height : 100vh;
    /* border : 1px solid black; */
    /* background-color : white; */
}
.brdr-container{
    width : 0vw;
    border-left: 2px solid black;
    align-self : flex-end;
    height : 96vh;
}
.containers{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width : inherit;
    height : 6.5rem;
    border-bottom : 1px solid rgb(120, 118, 118);
    display : flex;
    flex-direction : column;
    flex-wrap : nowrap;
    justify-content: space-evenly;
    align-items : center;
}


.filter-list{
    margin : 0px;
    margin-left : 1vw;
    margin-top : 2vh;
    padding : 0px;
    width : 19vw;
    /* border : 1px solid green; */
}
.filter-list-items{
    display : flex;
    flex-direction: row;
    align-items : center; 
    width : 18vw;
    height : 7vh;
    /* border : 1px solid black; */
}
.filter-list-items span{
    margin-left : 10px;
    text-align: center;
    font-size : 1rem;
    letter-spacing: 0.2rem;
}
li:not(.filter-list-items:first-of-type):hover{
    box-shadow : 1px 2px 1px 1px lightgrey;
}
.filter-heading{
    display : inline-block;
    text-align:center;
    width : auto;
    height : auto;
    font-weight: bolder;
    font-size : 1.4rem !important;
    letter-spacing: 0.35rem !important;
    color : black;
}
.text-content{
    font-size : 0.95rem;
    margin : 0px;
    padding : 0px;
    text-align : justify;
    width :  59vw;
    height : 7vh;
    /* border : 1px solid black; */
}
.containers h6{
    width : 59vw;
    height : 3vh;
    /* font-style: italic; */
    margin : 0px;
    padding : 0px;
    font-size : 0.75rem;
    opacity : 0.8;
    /* font- */
    /* display : inline-block; */
    /* border : 1px solid black; */
}
/* .containers h7{
    display : inline;
    align-self : flex-start;
    font-size: .5rem;
} */
.text-content a{
    text-decoration: none;
    font-size : 0.7rem;
}
.add-post{
    width : 7vw;
    height : 7vh;
    border : none;
    border-radius : 5%;
    background-color: #81C1C4;
    color : white;
    margin-left : 46rem;
    margin-top : 2vh; 
    padding:0.2rem
}
.filter{
    width : 7vw;
    height : 7vh;
    border-radius : 5%;
    background-color: #81C1C4;
    color : white;
    margin-top : 2vh; 
    padding:0.2rem;
    border : none;
}
input[type="checkbox"]{
    width : 10px;
    height : 10px;
    border-radius : 20%;
    border : 1px solid #81C1C4;
    -webkit-appearance: none;
    box-sizing : border-box;
}
input[type="checkbox"]:checked{
    background-color : #81C1C4;
}
.pop-up{
    width : 50vh;
    height : 50vw;
    background-color : black;
    margin :auto auto;
    z-index : 1002;
}



/* POP_UP CSS */
.form-popup {
    width: 100vw;
    display: none;
    position: fixed;
    bottom: -30px;
    right: 15px;
    /* border: 3px solid #f1f1f1; */
    z-index: 20;
    padding:2rem;
  }
  
  /* Add styles to the form container */
  .form-container {
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
   .form-container {
    /* height: auto; */
    width: 100vw;
    padding: 15px;
    margin: 0;
    border: none;
    background: #f1f1f1;
  }

  .form-container input[type=text]{
    width: 25%;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #81C1C4;
    color: #000;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  .btn{
    color:red;
  }
  .pbtn{
    margin-top: 1rem;
    color:white;
    background-color: #81C1C4;
    border: none;
    border-radius: 0.3rem;
  }


  /* Read More CSS  */
  .pop-up-button{
    cursor: pointer;
    display: inline;
    border : none;
    font-size: 0.7rem;;
    background-color: #cccbc9;
}
.pop-up-button span:hover{
    color : blue;
}
.pop-up{
    /* visibility: hidden; */
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items : center;
    position : fixed;
    width : 50%;
    height : auto;
    top : 25%;
    left : 25%;
    background-color : #fefbf3;
    z-index : 20;
}
.overlay{
    position : fixed;
    top : 0%;
    left : 0%;
    width : 100vw;
    height : 100vh;
    border: 0.3px solid black;
    z-index : 10;
    opacity : 0.8;
    background-color : lightgrey;
}
.pop-up-cross{
    border : none;
    background-color: inherit;
    width : 2vw;
    height : 3vh;
    font-size : 1.3rem;
    margin-bottom : 20px;
    align-self : flex-end;
}
.pop-up-header{
    display : inline-block;
    height : 10%;
    width : 95%;
    margin-bottom : 20px;
    /* border : 1px solid black; */
    font-size : 1.5rem;
    font-weight: bolder;
}
.pop-up-content{
    display : inline-block;
    height : 10%;
    margin-bottom : 20px;
    /* border : 1px solid black; */
    width : 95%;
    font-size: 1rem;

}
.pagination{
    justify-content: center;
}
.pageno{
    background-color: #81C1C4;
    color:white;
}

.containers:hover{
  background-color: rgb(211, 211, 211);
}

.idea-img{
    height: 60px;;
    margin-bottom: 10px;
    border-radius: 40px;
}