.userdata{
    display: flex;
    flex-direction: row;
}

.myprofile{
    margin-left: 5rem;
}

.data{
    font-size: 1.5rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

.field{
    background-color: #81c1c4;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
    border-radius: 0.2rem;
}
.desc{
    font-size: 1.2rem;
}

.desc-size{
    height: 35px;
}
#post{
    height: 20rem;
    width: 20rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
body {
    /* background-color: #eee; */
    
}

.bdge {
  height: 21px;
  background-color: orange;
  color: #fff;
  font-size: 11px;
  padding: 8px;
  border-radius: 4px;
  line-height: 3px;
}

.comments {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}

.dot {
  height: 7px;
  width: 7px;
  margin-top: 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.hit-voting:hover {
  color: blue;
}

.hit-voting {
  cursor: pointer;
}

.textarea{
  width: 45rem;
}