.cara{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}
.carousel{
    margin-top: 2rem;
    width: 40rem;
}

.explore{
    margin-left: 4rem;
    font-size: 2rem;
}

.cards{
    display: flex;
    /* justify-content: space-between; */
}
.card{
    display: block;
}
.aboutUs{
    padding: 5rem;
}

.aboutustext{
    padding-top: 2rem;
    
}